.carosel-container {
    position: absolute;
    bottom: -20vh;
    left: -10vw;
    overflow: visible;
    transform-origin: center center;
    animation: rotate 30s infinite forwards linear;
}

.carosel-item {

    /* background-color: rgba(255, 0, 0); */
    transform:
        rotateZ(calc(var(--index) / var(--quantity) * 360deg)) translateY(-70vh);
}

@media (max-width: 767px) {
    .carosel-container {
        bottom: -6vh;
        left: -4vw;
        animation-duration: 45s;
    }

    .carosel-item {
        transform:
            rotateZ(calc(var(--index) / var(--quantity) * 360deg)) translateY(-26vh);
    }
}


@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}